
@{
    ViewBag.Title = "Check out";
}

<section class="beerCheckout">
    <header class="blockHeader">
        <span>Checkout</span>
    </header>

    <form id="mainAction" action="#" method="POST">
        <fieldset class="box">
            <legend>Your Details</legend>
            <div>
                <p>
                    <label class="textLabel" for="firstName">First Name:</label>
                    <input id="firstName" type="text" autofocus class="textInput" size="37" maxlength="30" required/>
                </p>
                <p>
                    <label class="textLabel" for="lastName">Last Name:</label>
                    <input id="lastName" type="text" class="textInput" size="37" maxlength="50" required/>
                </p>
                <p>
                    <label class="textLabel" for="email">Email:</label>
                    <input id="email" type="email" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="street">Street:</label>
                    <input id="street" type="text" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="number">Number:</label>
                    <input id="number" type="text" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="zip">Zip code:</label>
                    <input id="zip" type="text" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="city">City:</label>
                    <input id="city" type="text" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="country">Country:</label>
                    <input id="country" type="text" class="textInput" size="37" pattern="[a-zA-z]{3}" required/>
                </p>
                <p>
                    <label class="textLabel" for="phoneNumber">Phone number:</label>
                    <input id="phoneNumber" type="text" class="textInput" size="37" required/>
                </p>
                <p>
                    <label class="textLabel" for="blog">Blog:</label>
                    <input id="blog" type="url" class="textInput" size="37" placeholder="url of your blog"/>
                </p>
                <p>
                    <label class="textLabel" for="remark">Remark:</label>
                    <input id="remark" type="text" class="textInput" size="37"/>
                </p>
            </div>
        </fieldset>
        <fieldset class="box">
            <legend>Your Order</legend>
            <p>
                <label class="textLongLabel" for="deliveryDate">Requested delivery date:</label>
                <input id="deliveryDate" name="birthDate" type="date" class="textInput"/>
            </p>
            <p>
                <label class="textLongLabel" for="colorInput">Wrapping paper color:</label>
                <input id="colorInput" name="color" type="color" class="textInput"/>
            </p>
            <p>
                <label class="textLongLabel" for="bowInput">How many bows on the package?</label>
                <input id="bowInput" name="bows" type="number" min="0" max="3" class="textInput" pattern="/d" placeholder="value between 0 a 3"/>
            </p>
        </fieldset>
        <input type="submit" id="submit" class="submitButton" value="Place order"/>
    </form>
    <div id="confirmation">

    </div>

</section>

@section Scripts{
    <script src="~/Scripts/Own/validation.js"></script>
    <script src="~/Scripts/Own/checkout.js"></script>
}
