
@{
    ViewBag.Title = "All Beers";
}


<section class="allBeers">
    <header class="blockHeader">
        <span>Pilsen Beer</span>
    </header>

</section>

@section Scripts{
    <script src="~/Scripts/Own/allBeers.js"></script>
    <script src="~/Scripts/Own/dragAndDrop.js"></script>
    <script>
        $(document).ready(function() {
            loadPage();
        });
    </script>
}
