
@{
    ViewBag.Title = "Gift";
}

<section id="beerGift">
    <header class="blockHeader">
        <span>Gift</span>
    </header>
    <article>
        <header>
            Gift chosen for you.
        </header>
        <div id="gift">
            Discorver your gift
        </div>
        <div id="giftItem">
            <ul></ul>
        </div>
    </article>
</section>

@section Scripts{
    <script src="~/Scripts/Own/gift.js"></script>
}
