    

<div class="row">
    <section id="welcomeText">
        <header>Welcome to the new devBeer!</header>
        <div>
            This was built to prepare myself to the Microsoft certification exam 70-480 Programming in HTML5 with JavaScript and CSS3. I tried to use as much as possible of all exam objectives. So in a page I used one way of doing things and in another I may use a different approach just to test me if I can do it. As I like beer, I created a store dedicated to the software developer pleasure. Every hard worker should relax and release the presure once in a while to increase your productivity. There is a legend that beer is the best alcoholic beverage for software developers because having a beer quiets the brain exactly to helps to shoot pieces of code and experience the state of immersion mixed with quiet enjoyment.
        </div>
        <p><mark>We have code dojo happy hours.</mark></p>
    </section>
    <aside id="events">
        <header>Here's what happening!</header>
        <ul>
            <li><a href="#">New pilsener beer added</a></li>
            <li><a href="#">Store redecorated</a></li>
            <li><a href="#">New website launched</a></li>
        </ul>
    </aside>
</div>

<div class="row">
    <div class="col-sm-2">
        
    </div>
    <div class="col-md-8">
        <section id="bestsellers">
            <header>Bestsellers beers at devBeer</header>
            <section class="beerBestsellers">
                <header class="backgroundGradient">Beers</header>

            </section>
            <section class="goodChoices">
                <header class="backgroundGradient">Beers Good Choices</header>

            </section>
        </section>
    </div>
</div>

    @section Scripts{
        <script src="~/Scripts/Own/script.js"></script>
        <script>
            $(document).ready(function () {
                var crud = new crudNs.crud('/api/home', 'get');

                crud.sendRequest(function (data) {
                    var home = new oldNs.HomePage();
                    home.populate(data);

                    $('.productArticleName').click(function (e) {
                        var element = e.target;
                        var beerId = element.getAttribute('data-beerId');
                        localStorage.setItem('beerDetails', beerId);
                        window.location.href = "AllBeers/Details";
                    });

                    $('.addCartButton').click(function (e) {
                        var price = this.getAttribute('data-beerPrice');;
                        var name = $(this).attr('data-beerName');
                        var order = new OrderItem();
                        order.add(name, price);
                    });
                });
            });
        </script>
    }


