
@{
    ViewBag.Title = "Gallery";
}

<section id="beerGallery">
    <header class="blockHeader">
        <span>Gallery</span>
    </header>
    <article>
        <header>
            Beer pictures
        </header>
        <div id="slideshow">
            <div>
                <img id="picswap" width="600" height="500"/>
                <div></div>
            </div>
            <br/>
            <span class="controls">&#10094;</span>
            <span class="controls">&#10095;</span>
        </div>
        <div id="slideshowButton"></div>
        <div></div>
    </article>
</section>

@section Scripts{
    <script src="~/Scripts/Own/gallery.js"></script>
}